In [2]:
import numpy as np
import pandas as pd

I have already downloaded a csv from collegefootballdata.com/data and saved it as 'cfb_dta.csv'

In [4]:
df = pd.read_csv('cfb_dta.csv',sep='\t')
df.head()

,id,season,week,season_type,start_date,neutral_site,conference_game,attendance,venue_id,venue,...,home_line_scores[1],home_line_scores[2],home_line_scores[3],away_team,away_conference,away_points,away_line_scores[0],away_line_scores[1],away_line_scores[2],away_line_scores[3]
0,401110723,2019,1,regular,2019-08-24T23:00:00.000Z,True,False,NaN,4013,Camping World Stadium,...,0.0,10.0,7.0,Miami,ACC,20.0,3.0,10.0,0.0,7.0
1,401114164,2019,1,regular,2019-08-25T02:30:00.000Z,False,False,NaN,3610,Aloha Stadium,...,14.0,7.0,10.0,Arizona,Pac-12,38.0,0.0,21.0,14.0,3.0
2,401117854,2019,1,regular,2019-08-29T23:00:00.000Z,False,False,NaN,3854,Nippert Stadium,...,3.0,7.0,7.0,UCLA,Pac-12,14.0,0.0,7.0,7.0,0.0
3,401119254,2019,1,regular,2019-08-29T23:00:00.000Z,False,False,NaN,3700,Doyt Perry Stadium,...,17.0,7.0,9.0,Morgan State,NaN,3.0,0.0,3.0,0.0,0.0
4,401117855,2019,1,regular,2019-08-29T23:00:00.000Z,False,False,NaN,3892,Rentschler Field,...,3.0,14.0,0.0,Wagner,NaN,21.0,0.0,0.0,14.0,7.0

Now we will get a list of uniwue team.
We will only grab the list form home teams because away teams include many FCS teams, and the data for these teams are too sparse to get a good analysis.

In [6]:
teams = np.asarray(df.home_team.unique()).ravel()
team_dict = {}
for i in range(teams.shape[0]):
    team_dict[teams[i]] = i

Now we will generate our observations by taking the home points, away points, home team and away team in each of the games in our dataset

In [10]:
obs = []
for i in range(df.shape[0]):
    samp = df.iloc[i]
    away_team = samp.away_team
    if away_team not in teams or np.isnan(samp.away_points):
        continue
    obs.append([samp.home_points,samp.away_points,team_dict[samp.home_team],team_dict[samp.away_team]])
obs = np.array(obs)

We now define a function to give the relative likelihood for all the games given the choice variable (params) and the observations (obs).  The parameters is the offensive and defensive rating for each team, and this is the value we need to optimize to find our final rankings.
The relative likelihood is obtained with the PDF of a normal distribution, taking the log (to avoid vanishing probabilities), then we drop the integrating factor since it has no impact on the optimal values.  This leaves is with just the exponential portion of the PDF.  Since we took the log, the result is summed rather than multiplied.

In [7]:
def prob_calc(params, obs):
    prob = 0
    f = lambda o1,o2,d1,d2,s1,s2:((o1/d2-s1)**2)/98+((o2/d1-s2)**2)/98
    for i in obs:
        o1,o2,d1,d2 = params[int(i[2])*2], params[int(i[3])*2], params[int(i[2])*2+1], params[int(i[3])*2+1]
        prob += f(o1,o2,d1,d2,i[0],i[1])
    return prob

Now we will import minimize from the optimize library included in scipy library to find the optimal values for our parameters.

In [8]:
from scipy.optimize import minimize

In [11]:
results = minimize(prob_calc,x0=np.random.uniform(2,19,(len(teams),2)),args=(obs)).x

We find the ranking metric by taking the product of each team's offensive rating and their defensive rating.  This metric seems like the best metric based on our assumptions because a team will beat another team in expectation (that is the expected value of a teams score is higher than the expected values of their opponent's score) if and only if the product of the offensive and defensive rating is higher than the opponent's.

Proof, Let $S_1, S_2$ be the scores for team one and two respectively, $O_1, O_2$ be the offensive ratings for each team and $D_1, D_2$ be the defensive ratings then:

$E[S_1]=\frac{O_1}{D_2}, E[S_2] = \frac{O_2}{D_1}$ (By assumption)

Then we have:

If $E[S_1]>E[S_2]$ Then $\frac{O_1}{D_2} > \frac{O_2}{D_1}$

<=>

$O_1 * D_1 > O_2 * D_2$

Q.E.D

Please note that the optimial values are actually not unique because each offesnive and defensive rating can be scaled by a constant, then in the fraction, the constant will cancel out and our mean value in the normal distribution will remain unchanged; however, the ratio of the optimal values will remain the same, thus if you re-run this code, the values may be different, but the ordering and ratios will be the same.

In [21]:
my_ranks = np.array([results[2*i]*results[2*i+1] for i in range(len(teams))])

In [22]:
sorter = my_ranks.argsort()

In [23]:
final_rankings = teams[sorter][::-1]

# Final Rankings (As of Nov 1, 2019)

In [24]:
for idx, name in enumerate(final_rankings):
    print(idx+1,':\t   ',name, '-'*(25- len(name)), my_ranks[sorter][::-1][idx])

1 :	    Ohio State --------------- 210.35763118724307
2 :	    Penn State --------------- 111.52681551544967
3 :	    Wisconsin ---------------- 92.06981713301826
4 :	    Clemson ------------------ 85.11375703660192
5 :	    Georgia ------------------ 79.72622948916691
6 :	    Utah --------------------- 78.12207569790337
7 :	    Auburn ------------------- 73.09326000667845
8 :	    Iowa --------------------- 71.70470034311558
9 :	    LSU ---------------------- 71.32042505619873
10 :	    Alabama ------------------ 71.26379225334216
11 :	    Oregon ------------------- 61.377758152947905
12 :	    Michigan ----------------- 57.26440029881133
13 :	    Oklahoma ----------------- 56.59751776418706
14 :	    Iowa State --------------- 52.5657122319153
15 :	    Florida ------------------ 52.369073875116484
16 :	    Michigan State ----------- 48.33793731871939
17 :	    Cincinnati --------------- 47.43158099033406
18 :	    Baylor ------------------- 47.40310544774329
19 :	    Minnesota ---------------- 47.20887184582748
20 :	    Navy --------------------- 46.08379575817019
21 :	    Washington --------------- 45.87356795720436
22 :	    Notre Dame --------------- 43.18922751834017
23 :	    UCF ---------------------- 42.64172133333869
24 :	    Texas -------------------- 42.181116993994024
25 :	    TCU ---------------------- 41.10801379821472
26 :	    Kansas State ------------- 40.09492672205817
27 :	    Memphis ------------------ 39.168536255398536
28 :	    Texas A&M ---------------- 39.09198011733424
29 :	    Oklahoma State ----------- 39.077638346268266
30 :	    USC ---------------------- 38.61725858394369
31 :	    Air Force ---------------- 36.856961718718225
32 :	    Washington State --------- 36.62783960614379
33 :	    Arizona State ------------ 34.39795864067696
34 :	    Appalachian State -------- 34.21486918420728
35 :	    Tulane ------------------- 33.53823151009734
36 :	    Indiana ------------------ 32.68520811000123
37 :	    SMU ---------------------- 32.59789712461999
38 :	    Louisiana ---------------- 31.722729168586746
39 :	    Boise State -------------- 31.37869218753799
40 :	    Nebraska ----------------- 31.118939144061653
41 :	    Missouri ----------------- 31.11533841116381
42 :	    Virginia ----------------- 30.95801292170055
43 :	    Pittsburgh --------------- 30.28269520661316
44 :	    Mississippi State -------- 29.582975930793605
45 :	    Kentucky ----------------- 29.21047359626974
46 :	    Florida Atlantic --------- 28.374191501149074
47 :	    North Carolina ----------- 28.227019163567945
48 :	    UCLA --------------------- 28.04010997854094
49 :	    Stanford ----------------- 27.787193823514684
50 :	    Illinois ----------------- 27.62685650675925
51 :	    Duke --------------------- 27.52005385341408
52 :	    South Carolina ----------- 27.314432121311604
53 :	    Louisville --------------- 27.116544341565465
54 :	    Houston ------------------ 26.894350088302023
55 :	    Ole Miss ----------------- 26.715937697349084
56 :	    San Diego State ---------- 26.324448779367533
57 :	    Wake Forest -------------- 25.987694644916346
58 :	    Tulsa -------------------- 25.965535867897223
59 :	    Texas Tech --------------- 25.893422914352318
60 :	    California --------------- 25.876852716243935
61 :	    Wyoming ------------------ 25.30495278831185
62 :	    Florida State ------------ 25.302402143607665
63 :	    Purdue ------------------- 25.196476733136624
64 :	    Colorado ----------------- 25.10038532582093
65 :	    Tennessee ---------------- 24.89612414662064
66 :	    West Virginia ------------ 24.761791492156597
67 :	    Oregon State ------------- 24.296901265671547
68 :	    Kansas ------------------- 24.187411535793583
69 :	    Georgia Southern --------- 23.711511144394095
70 :	    Arizona ------------------ 23.236488340339594
71 :	    Miami -------------------- 23.170320113557626
72 :	    BYU ---------------------- 22.73329518704568
73 :	    Maryland ----------------- 22.610297463796332
74 :	    Utah State --------------- 22.44586086901023
75 :	    Western Michigan --------- 21.76153530033923
76 :	    Fresno State ------------- 21.655397120654705
77 :	    Arkansas ----------------- 21.523297628721004
78 :	    Hawai'i ------------------ 21.49232676941596
79 :	    Ball State --------------- 20.55011906314516
80 :	    Ohio --------------------- 20.308605290397523
81 :	    Western Kentucky --------- 20.30317297788316
82 :	    Louisiana Tech ----------- 20.189366097614453
83 :	    South Florida ------------ 20.18820484871383
84 :	    Boston College ----------- 19.789820785811283
85 :	    Middle Tennessee --------- 19.732696247497163
86 :	    Northwestern ------------- 19.320502359620992
87 :	    Marshall ----------------- 18.99807979384065
88 :	    UAB ---------------------- 18.964442284415746
89 :	    Army --------------------- 18.835726098720386
90 :	    Arkansas State ----------- 18.76497500180149
91 :	    Georgia State ------------ 18.527861566736764
92 :	    Northern Illinois -------- 18.275737748873848
93 :	    Temple ------------------- 18.20234836457068
94 :	    Buffalo ------------------ 18.126552394631002
95 :	    Kent State --------------- 18.027753065787593
96 :	    Southern Mississippi ----- 18.013783786007348
97 :	    San JosÃ© State ----------- 17.46573129870849
98 :	    NC State ----------------- 17.393844279446263
99 :	    Coastal Carolina --------- 17.293014446598377
100 :	    Virginia Tech ------------ 17.187899951832723
101 :	    Central Michigan --------- 16.740600438187602
102 :	    Miami (OH) --------------- 16.697088886236894
103 :	    Eastern Michigan --------- 16.580953118210054
104 :	    North Texas -------------- 16.429965969460582
105 :	    Syracuse ----------------- 16.363787015986514
106 :	    Louisiana Monroe --------- 15.696975727695992
107 :	    Colorado State ----------- 15.582015602894877
108 :	    Troy --------------------- 14.41072802117774
109 :	    Florida International ---- 14.317826722081756
110 :	    Toledo ------------------- 13.950016206049055
111 :	    Georgia Tech ------------- 13.602904061750376
112 :	    Vanderbilt --------------- 13.375474335318504
113 :	    Charlotte ---------------- 13.266849476277976
114 :	    Connecticut -------------- 13.068842394511226
115 :	    Liberty ------------------ 13.055009629727797
116 :	    East Carolina ------------ 12.943941890874791
117 :	    Rice --------------------- 12.34620619957359
118 :	    New Mexico --------------- 11.980577256223269
119 :	    Rutgers ------------------ 11.673406292454098
120 :	    UNLV --------------------- 11.565321197871514
121 :	    New Mexico State --------- 11.540226610934836
122 :	    Texas State -------------- 11.501773718507108
123 :	    Nevada ------------------- 10.315122046471236
124 :	    Old Dominion ------------- 8.883130918510918
125 :	    South Alabama ------------ 7.763731506659484
126 :	    UT San Antonio ----------- 7.525975411430439
127 :	    UTEP --------------------- 6.836261678192254
128 :	    Bowling Green ------------ 6.383309471231976
129 :	    UMass -------------------- 5.944009680579083
130 :	    Akron -------------------- 5.16281262589664